/** {
  box-sizing: border-box;
}*/
header {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
#red {
  color:rgb(253, 90, 86);
}
#yellow {
  color: rgb(253, 193, 61);
}
#green {
  color: rgb(23, 197, 67);
}
#tb-buttons {
  flex-grow: 1;
  /*border: 1px solid purple;*/
}
#tb-central-content {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  /*border: 1px solid red;*/
  flex-grow: 1;
  max-height: 1.5rem;
  border:none;
}
#tb-central-content img {
  max-height: 1.2rem;
}
/*TOP Fake Terminal Bar**************************************/
/*TOP Fake Terminal Bar**************************************/
/*TOP Fake Terminal Bar**************************************/
/*TOP Fake Terminal Bar**************************************/
#files-list div {
  border: none;
}

/*File List Popout *************************/
/*File List Popout *************************/
/*File List Popout *************************/
/*File List Popout *************************/
/*File List Popout *************************/